
<h1>Welcome to Skyrim.ejs file in views directory</h1>

<h5>The idea is this is a template HTML file with embedded JS which
    can respond to user interaction via the backend logic..(first impressions)
</h5>

<p>Your character is an: <%= skyrimRaceEJS %> </p>